@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap-editor iframe[src*="youtube"],
.tiptap-renderer iframe[src*="youtube"],
.tiptap-editor iframe[src*="youtu.be"],
.tiptap-renderer iframe[src*="youtu.be"] {
  width: 100% !important;
  aspect-ratio: 16 / 9;
  height: auto !important;
  border: 0;
  border-radius: 8px;
}

.tiptap-editor iframe[src*="youtube"],
.tiptap-editor iframe[src*="youtu.be"] {
  margin: 8px 0;
}
